  :root {
    /* Light Mode */
    --color-bg-light: #fdf6e3;
    --color-primary-light: #87CEEB;
    --color-secondary-light: #333333;
    --color-accent-light: #fca07e;

      --font-heading: 'Montserrat', sans-serif;
      --font-body: 'Roboto', sans-serif;

      --font-color-text-body: 	#333333;
      --font-color-text-heading: #111827;
      --font-color-text-secondary: #6B7280;
    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        height: 100svh;
        width: 100%;
        background: linear-gradient(
      135deg,
      #fff9e6 0%, 
      #fff3b0 50%,  
      #fff9e6 100%
    );
    overflow-y: hidden;
    }

    .main-layout {
      display: flex;
      height: calc(100svh - 60px); /* subtract navbar height */
    }

    *::selection {
      background: yellow;
      color: red;
    }